@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Syne:wght@500;700&display=swap');

/*font-family: 'Syne', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Syne", sans-serif;
}

.section-bg {
    background-color: #D9D9D9;
    width: 120rem;
    height: auto;
    margin: 0;
}

.section-bg-two {
    background-color: #343333;
    margin: 0;
}

#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 22px 0;
    background: #D9D9D9;
}

#header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

#header .logo img {
    padding: 0;
    margin-left: 40px;
    width: 60px;
    height: 60px;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #3a75c9;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #5fa1ff;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-family: 'Roboto', sans-serif;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 400;
    color: #343333;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #ff1616;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #ff1616;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #679eec;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #3a75c9;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

#hero {
    width: 100%;
    height: 100vh;
    margin-top: 0;
}


#hero .title-h2 {
    font-family: 'Syne', sans-serif;
    color: #343333;
}

#hero .title-orange {
    font-family: 'Syne', sans-serif;
    color: #ff1616;
}

#hero .img-hero {
    width: 450px;
    height: 450px;
    display: flex;
    margin-left: 200px;
}

#hero .btn-color {
    background-color: #d3d3d3;
    border: 2px solid #ff1616;
    border-radius: 2rem;
    color: #ff1616;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#hero .btn-color:hover {
    background-color: #ff1616;
    border: 2px solid #ff1616;
    border-radius: 2rem;
    color: #d3d3d3;
}

#hero .btn-color:active {
    position: relative;
    top: 1px;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


#hero .social-links a {
    color: #ff1616;
    font-size: 32px;
    text-decoration: none;
    letter-spacing: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#hero .social-links a:hover {
    color: #343333;
    transform: scale(1.25, 1.25);
}




.section-title {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Syne', sans-serif;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #d3d3d3;
}

.section-title h2::before,
.section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #ff1616;
    display: inline-block;
}

.section-title h2::before {
    margin: 0 15px 10px 0;
}

.section-title h2::after {
    margin: 0 0 10px 15px;
}

.section-title p {
    margin: 15px 0 0 0;
}

#sobre {
    width: 100%;
    height: 1000px;
    scroll-margin-top: 45px;
}

#sobre p {
    color: #d3d3d3;
    font-family: 'Roboto', sans-serif;
}

#sobre .btn-color {
    margin-top: -30px;
    background-color: #343333;
    border: 2px solid #ff1616;
    border-radius: 2rem;
    color: #ff1616;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#sobre .btn-color:hover {
    background-color: #ff1616;
    border: 2px solid #ff1616;
    border-radius: 2rem;
    color: #343333;
    font-weight: bold;
}

#sobre .btn-color:active {
    position: relative;
    top: 1px;
}


#sobre .img-sobre {
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 1rem;
    height: 465px;
}

#sobre .conteudo {
    margin-left: 100px;
}

#sobre .habilidades-list h4 {
    color: #ff1616;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

#sobre .habilidades-list ul {
    color: #d3d3d3;
    font-family: 'Roboto', sans-serif;
}

#sobre .habilidades {
    margin-left: 200px;
    margin-top: 10px;
}

#contact {
    width: 100%;
    height: auto;
}

.contact .contact-about h3 {
    font-family: 'Syne', sans-serif;
    font-size: 32px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    color: #d3d3d3;
}

.contact .contact-about p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #d3d3d3;
}

.contact .social-links {
    padding-bottom: 20px;
}

.contact .social-links a {
    font-size: 32px;
    display: inline-block;
    background: #343333;
    color: #ff1616;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;

}

.contact .social-links a:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#projetos {
    width: 100%;
    height: 750px;
    scroll-margin-top: 100px;
}

#projetos h2 {
    color: #343333;
}

.carousel-control-prev {
    margin-left: -8rem;
}

.carousel-control-next {
    margin-right: -8rem;
}

.carousel-indicators {
    margin-bottom: -35px;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.card-title {
    font-weight: bold;
    text-transform: uppercase;
}

#contact .contact-img {
    width: 450px;
    height: 450px;
    display: flex;
    margin-left: 150px;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


#contact .contact-about {
    margin-bottom: 180px;
}

#contact h2 {
    color: #d3d3d3;
}

#contact p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #d3d3d3;
}