@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Syne:wght@500;700&display=swap');

/*font-family: 'Syne', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Syne", sans-serif;
}

.section-bg {
    background-color: #D9D9D9;
    width: 120rem;
    height: auto;
    margin: 0;
}

.section-bg-two {
    background-color: #343333;
}
